*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/bg.jpg");
    background-position-x: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1872px;
    height: 750px;
    overflow: hidden;
}
.headertext h1{
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    font-weight: bold;
    color: #353535;
    margin-left: 100px;
    border-bottom: 3px solid #353535;
    padding-bottom: 15px;
    left: 50%;
    width: 8%;
}
.headertext h2{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 350;
    color: #353535;
    margin-top: 375px;
    margin-left: 100px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #353535;
    margin-left: 100px;
    padding-top: 15px;
    
}